.about-us{
    color: #fff;
    flex: .67;
    padding: 40px 20px;
    background: #0f0f0f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 550px;
}

.main-background{
    min-height: 320px;
    background: url('../../assets/main_background-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 10px 0;
    margin: 20px 0 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: .5em;
}
.main-background > button{
    width: 40px;
    height: 40px;
    border: none;
    background: #9ADE56;
    font-weight: bold;
    padding: 2px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.main-background > button:hover{
    transform: scale3d(1.2,1.2,1.2);
}

.about-us-desc{
    display: flex;
    flex-direction: column;
    width: 60%;
    background: #161616;
    padding: 20px 20px;
    margin-top: -11.5%;
}
.title{
    font-weight: 700;

}
.about-desc{
    font-size: .8vw;
    margin: 10px 0;
    opacity: .5;
    font-weight: 400;
}
.domains{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.domains-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.domain-items{
    padding: 20px;
    background: #161616;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    border-radius: 10px;
    margin-top: 20px;
}
.domain-items:nth-child(2n){
    margin-left: 15px;
}
.domain-items img{
    width: 45px;
    height: 45px;
}
.domain-desc{
    font-size: .6em;
    font-weight: 400;
    margin: 10px 0;
    cursor:default;
}

.domain-items:hover{
    /* background: #fafafa; */
    box-shadow: 0 0 2em rgba(0,0,0,.1);
    transform: scale3d(1.01,1.01,1.01);
}

.join-us-link{
    text-align: center;
    font-weight: 600;
    margin: 20px 0 -10px 0 ;
}

@media screen and (max-width: 1198px){
    .domain-items:nth-child(2n){
        margin-left: 0px;
    }
}

@media screen and (max-width: 1000px){
    .about-us{
        flex: 1;
    }
}

@media screen and (max-width: 750px){
    .about-us{
        min-width: calc(100% - 40px);
    }
    .domain-items{
        min-width: calc(100% - 40px);
    }
}

@media screen and (max-width: 500px){

    .main-background{
        min-height: 200px;
        border-radius: 10px 10px 0px 0;
    }

    .about-us-desc{
        margin-top: 0;
        border-radius: 0 0 10px 10px;
        width: auto;
    }
    .about-desc{
        font-size: .6em;;
    }
}